<app-header></app-header>
<div class="container-fluid">
    <div class="row row2">
        <div class="content">
            <p class="p1">Pardh Jobs</p>
            <p class="p2">Job Consulting Services</p>
            <p class="p3">Found a suitable job for you</p><br>
            <button class="btn1">Our Services</button>&emsp;
            <button class="btn2">Learn More</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row3">
        <div class="col col1">
            <img src="assets/features1.jpg" height="550px">
        </div>
        <div class="col col2">
            <p class="p1">Core Features</p><br>
            <p class="best">Best Business</p><br>
            <p class="best">Software Solution</p>
            <i class="fa-brands fa-facebook-f social fa-2x fbicon"></i>
            <i class="fa-brands fa-twitter social fa-2x ticon"></i>
            <i class="fa-brands fa-instagram social fa-2x inicon"></i><br><br>
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, aliquam! Quidem iste</p>
            <br>
            <button class="btn3">Read More</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row4">
        <div class="col-sm-5 col1">
            <p class="p3">App Download</p><br>
            <p class="control">You can control</p><br>
            <p class="control"> direct from your</p><br>
            <p class="control"> mobile.</p><br>
        </div>
        <div class="col-sm-7 col2">
            <img src="assets/features2.jpg">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row5">
        <div class="content">
            <h3>Our Goal</h3>
            <p class="p4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugit aperiam a, ducimus ab
                itaque minus unde sunt tenetur praesentium ipsum velit dolorem repellat mollitia consequuntur quia
                error. Cum, explicabo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos fuga omnis dicta
                modi obcaecati. Necessitatibus deserunt expedita provident, quo inventore quaerat labore, cupiditate
                odio corrupti nemo vitae magni ad amet?</p>
        </div>
        <div class="col">
            <i class="fa-solid fa-check"></i>
            <p class="p4"> App Design& Research</p><br><br>
            <i class="fa-solid fa-check"></i>
            <p class="p4"> App Design& Research</p>
        </div>
        <div class="col">
            <i class="fa-solid fa-check"></i>
            <p class="p4"> App Design& Research</p><br><br>
            <i class="fa-solid fa-check"></i>
            <p class="p4"> App Design& Research</p>
        </div>
        <div class="col">
            <i class="fa-solid fa-check"></i>
            <p class="p4"> App Design& Research</p><br><br>
            <i class="fa-solid fa-check"></i>
            <p class="p4"> App Design& Research</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center core">Core Features</div><br>
    <div class="row row6">
        <div class="col img1">
            <img src="assets/features1.jpg" height="290px" width="290px"><br>
            <i class="fa-solid fa-arrow-right-long"></i><br>
            <p class="p5">Software,Interface</p><br>
            <p class="p6">Development</p>
        </div>
        <div class="col img2">
            <img src="assets/features2.jpg" height="290px" width="290px"><br>
            <i class="fa-solid fa-arrow-right-long"></i><br>
            <p class="p5">Software,Design</p><br>
            <p class="p6">Design</p>
        </div>
        <div class="col img3">
            <img src="assets/features3.jpg" height="290px" width="290px"><br>
            <i class="fa-solid fa-arrow-right-long"></i><br>
            <p class="p5">Software,Interface</p><br>
            <p class="p6">Optimization</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center p9">Experts</div><br>
    <div class="text-center p10">Our Team Members</div>
    <div class="row row8">
        <div class="col tm1">
            <img src="assets/team1.jpg" height="150px" width="150px"><br>
            <div class="text-center names">John Smith</div>
            <div class="text-center designation">Programmer</div>
            <div class="text-center icons">
                <i class="fa-brands fa-facebook-f social fbicon2"></i>
                <i class="fa-brands fa-twitter social ticon2"></i>
                <i class="fa-brands fa-instagram social inicon2"></i>
            </div>
        </div>
        <div class="col tm2">
            <img src="assets/team2.jpg" height="150px" width="150px"><br>
            <div class="text-center names">Sarah Palmer</div>
            <div class="text-center designation">Manager</div>
            <div class="text-center icons">
                <i class="fa-brands fa-facebook-f social fbicon2"></i>
                <i class="fa-brands fa-twitter social ticon2"></i>
                <i class="fa-brands fa-instagram social inicon2"></i>
            </div>
        </div>
        <div class="col tm3">
            <img src="assets/team3.jpg" height="150px" width="150px"><br>
            <div class="text-center names">Adam Swift</div>
            <div class="text-center designation">Analyst</div>
            <div class="text-center icons">
                <i class="fa-brands fa-facebook-f social fbicon2"></i>
                <i class="fa-brands fa-twitter social ticon2"></i>
                <i class="fa-brands fa-instagram social inicon2"></i>
            </div>
        </div>
        <div class="col tm4">
            <img src="assets/team423.jpeg" height="150px" width="150px"><br>
            <div class="text-center names">Giri Velugula</div>
            <div class="text-center designation">Designer</div>
            <div class="text-center icons">
                <i class="fa-brands fa-facebook-f social fbicon2"></i>
                <i class="fa-brands fa-twitter social ticon2"></i>
                <i class="fa-brands fa-instagram social inicon2"></i>
            </div>
        </div>
    </div>
</div>