<div class="jumbotron">
    <div class="row w-100">
        <div class="col-md-6">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card dashicon"><span
                        class="las la-exclamation la-2x"></span></div>
                <div class="text-danger text-center mt-3">
                    <h4>Posted Jobs</h4>
                </div>
                <div class="text-danger text-center mt-2">
                    <h1>{{jobsCount}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card dashicon"><span
                        class="las la-envelope la-2x"></span></div>
                <div class="text-info text-center mt-3">
                    <h4>Messages</h4>
                </div>
                <div class="text-info text-center mt-2">
                    <h1>31</h1>
                </div>
            </div>
        </div>
       
       
    </div>
</div><br>
<div class="text-center">
    <h1>Company Profile</h1> <br>
    Company : {{companyName}}<br>
    Location : {{locationName}}<br>
    Email: {{email}}<br>
    Phone : {{phone}}<br>
</div>