
 .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#eyes{
    position: relative;
    cursor: pointer;
    color: grey;
    font-size: 20px;
    bottom: 35px;
    left:390px;
}