/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

#preloader{
    background:#F4F5F6   url("assets/preloader2.gif") no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

