
<body class="body" *ngIf="!isLogin">
    <div class="container">
        <div class="row menu">
            <div class="col-md-9 title">
                <a><i class="lab la-fedora icon"></i>
                    <p class="logo">Pardh Jobs</p>
                </a>
            </div>
            <div class="col-md-3 icons">
                <button routerLink="/selector" (click)="isLoginClick()" class="b1">Login</button> &nbsp;
                <button routerLink="/about" (click)="isLoginClick()" class="b1">About</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row2">
            <div class="col-md-7 col1">
                <p class="p1">Pardh Jobs & Services</p><br>
                <p class="p2">JOB Consulting</p><br>
                <p class="p3">Find your dream job now,Services to help you get hired,<br>
                    faster from preparing your CV, getting recruiter attention,<br>
                    finding the right jobs, and more!</p><br><br>
                <button class="b2">Get Started</button><br>
            </div>
            <div class="col-md-5 col2">
                <img src="assets/homeface.jpg" height="500px">
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row row8">
            <div class="col-md-4 col1">
                <img src="assets/row8.jpeg" width="400px" height="650px">
            </div>
            <div class="col-md-8 col2">
                <div class="content">
                    <p class="p1">OUR SERVICES</p><br><br>
                    <p class="p2">Featured companies actively hiring</p><br>
                    <p class="p3">Pardh Jobs is an Indian worldwide employment website for job listings launched in
                        November 2004. It is an independent subsidiary of multinational Recruit Co. Ltd. and is
                        co-headquartered in Austin, Texas, and Stamford, Connecticut, with additional offices around the
                        world.</p>
                </div>
                <div class="row subrow">
                    <div class="col">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                        <p class="ma">Artificial Intelligence</p><br>
                        <p class="lo">&emsp;&emsp;Learn in-demand AI Skills<br>&emsp;&emsp;Like Deep Learning, NLP,
                            Computer Vision</p>
                        <br><br><br>
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                        <p class="ma">AWS</p><br>
                        <p class="lo">&emsp;&emsp;Get Certified for high-demanding<br>&emsp;&emsp;Cloud Computing skills
                            Comp consectetur adipisicing elit</p>
                    </div>
                    <div class="col">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                        <p class="ma">Data Structures</p><br>
                        <p class="lo">&emsp;&emsp;Master DS & Algorithms<br>&emsp;&emsp;to enter high-level engineering
                            roles</p>
                        <br><br><br>
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                        <p class="ma">Digital Marketing</p><br>
                        <p class="lo">&emsp;&emsp;A fast-growing field with oppotunities<br>&emsp;&emsp;in PPC,SEO,Email
                            marketing,Marketing Analytics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row5">
            <div class="col-md-9">
                <p class="p1">Get a Free Now Consultation Now!</p><br>
                <p class="p2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit repudiandae omnis beatae
                    perferendis rem cum consequatur, saepe accusantium quos.</p>
            </div>
            <div class="col-md-3">
                <button class="b3">Contact us</button>
            </div>
        </div>
    </div>

<!-- 
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->



</body>