<div class="container-fluid">
    <div class="row menu">
        <div class="col-md-6 logo">
            <i class="lab la-fedora icon"></i>&nbsp;
            <h3 class="title">Pardh Jobs</h3>
        </div>
        <div class="col-md-6  submenu">
            <ul class="list-unstyled list-inline">
                <a class="click" routerLink="/home">HOME<li class="list-inline-item"></li></a>
                <a class="click" routerLink="/about">
                    <li class="list-inline-item">ABOUT</li>
                </a>
                <a class="click" routerLink="/jobseeker/login">
                    <li class="list-inline-item">LOGIN</li>
                </a>
                <div class="dropdown">
                    <a class="click">
                        <li class="list-inline-item">FOR EMPLOYERS<i class="fa-solid fa-caret-down"></i></li>
                    </a>
                    <div class="dropdown-content">
                        <a>BUY ONLINE</a><br>
                        <a routerLink="/recruiter/rlogin">EMPLOYER LOGIN</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>